body{
    background:url(../images/crystalBg3.png) repeat;
    font-family: Arial, 'Helvetica', sans-serif;
}

h1{
    font-weight:bold;
}

header{
    /* background:#0065a9; */
    background:url(../images/bg2.jpg);
    background-size:cover;
    padding:40px 0px;
    margin:0px;
    text-align:center;
    margin-bottom:10px;
    color:#fff;
}

.contentWrap{
    padding:0px;
}

.contentCol{
    background:#fff;
    margin:15px;
    padding:20px 30px;
    border: 1px solid #ddd;
}


#directionsText p{
    font-size:1em;
}

#directionsText h4{
    color:#fff;
    background:url(../images/bg4.jpg);
    background-position:left;
    background-size:cover;
    padding:10px 0px;
    text-align:center;
    margin-bottom:10px;
}


.numberToMatchContainer{
    padding:10px;
    background:url(../images/bg4.jpg);
    background-position:top;
    background-size:cover;
    text-align:center;
    
    /* background:#0065a9; */
}

.numberToMatchContainer h3{
    color:#fff;
    padding:10px 0px 5px 0px;
}

.winsLossesContainer{
    background:#eee;
    padding:7px 0px;
    display:flex;
}

.winsLossesContainer p{
    margin:0px auto;
    display:inline;
    padding:0px 35px 0px 40px;
    margin-right:8px;
    
}

#pCenter{
    margin:0px auto;
}


.scoreCounterContainer{
    padding:2px;
    text-align:center;
    margin-top:25px;
    color:#fff;
    background:url(../images/bg4.jpg);
    background-position:top;
    background-size:cover;
}

.scoreCounterContainer h4{
    margin-top:9px;
}

#scoreCounter{
    /* background:url(../images/bg4.jpg); */
    color:#fff;
    /* padding:5px 15px; */
    font-size:1.3em;
    font-weight:bold;
    vertical-align:middle;
}

#currentNumberToMatch{
    font-weight:bold;
}


.crystalImages{
    margin-bottom:15px;
    text-align:center;
    margin-top:15px;
}

.crystalImages img{
    padding-right:20px;
    padding-top:20px;
}



@media (max-width: 575.98px) { 
    .crystalImages img{
        height:120px;
        margin:5px;
}

.winsLossesContainer{
    display:flex;
}

.winsLossesContainer p{
    padding:0px 10px;
}

.crystalImages{
    text-align:center;
    margin-top:0px;
}

.numberToMatchContainer h3{
    font-size:1.5em;
}

.scoreCounterContainer{
    margin:15px 0px;
}

.scoreCounterContainer h4{
    font-size:1.4em;  
}


.imgWrap{
    padding-left:0px;
    padding-right:0px;
}

header h1{
    font-size:2.3em;
}


}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .crystalImages img{
        height:110px;
}
}


@media (min-width: 768px) and (max-width: 991.98px) { 
    .crystalImages img{
        height:150px;
}
}


@media (min-width: 992px) and (max-width: 1199.98px) { 
    .crystalImages img{
        height:120px;
}
}

@media (min-width: 1200px) { 
    .crystalImages img{
        height:140px;
}
}



